<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <appSettings>
    <add key="DownLoadTimeout" value="30"/>
    <add key="DownLoadChunkSize" value="8192"/>
    <add key="DownLoadMaxThread" value="4"/>
    <add key="DownLoadTempFile" value ="-bookorder.stream"/>
    <add key="OutputDir" value="output-"/>
    <add key="OutputFileSuffix" value="-price-depth-snapshot-output.txt"/>
  </appSettings>


</configuration>